{
  "plugins": [
    "transform-flow-strip-types",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-runtime",
    "transform-async-to-generator"
  ],
  "presets": [
    "es2015"
  ]
}
